.side_bar
  .side_bar__user_name
    .side_bar__user_name--profile
      .side_bar__user_name--profile--name
        kari
      .side_bar__user_name--profile--icon
      = link_to "#", class: "contents__btn" do
        = icon('far fa-edit', class: "contents__btn--icon")
      = link_to "#", class: "contents__btn " do
        = icon('fa fa-cog', class: "contents__btn--icon")
  .side_bar__group_list
    .side_bar__group_list__groups
      %div.group
        %a.group_name kari_group
        %a.group_message kari_message
 

    
  